.contact-form {
	@include background-general;
	margin-top: 15%;
	margin-bottom: 5%;
	width: 70%;

	.form-control {
		border-radius: 1rem;
	}

	form {
		padding: 15%;
	}

	h1 {
		margin-bottom: 8%;
		margin-top: -10%;
		text-align: center;
		color: $color_2;
	}

	.btnContact {
		width: 60%;
		border: none;
		border-radius: 1rem;
		margin-top: 1rem;
		padding: 1.5%;
		background: #dc3545;
		font-weight: 600;
		color: $color_7;
		cursor: pointer;

	}
}

.contact-image {
	text-align: center;

	img {
		border-radius: 16rem;
		width: 10%;
		margin-top: 3%;
	}
}

.btnContactSubmit {
	width: 50%;
	border-radius: 1rem;
	padding: 1.5%;
	color: $color_7;
	border: none;
	cursor: pointer;

}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media only screen and (max-width: 620px) {

	.contact-form {
		margin-top: 10rem;
	}



}