* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.navbar-brand {
	font-family: $font-family_1;
	color: $color_1;
	padding-bottom: 1.5em;
}

.nav-link {
	&:hover {
		color: $color_1;
	}

	text-transform: uppercase;
	font-family: $font-family_2;
	color: $color_2;
}

.nav-item {
	padding-right: 50px;
}