
$color_1: orangered;
$color_2: azure;
$color_3: white;
$color_4: rgb(216, 241, 241);
$color_5: rgb(235, 239, 239);
$color_6: brown;
$color_7: #fff;
$color_8: rgb(214, 84, 19);
$font-family_1: 'Bungee Spice', cursive;
$font-family_2: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$background-color_1: rgb(11, 9, 9);
$background-color_2: rgba(10, 9, 9, 0.1);